body {
    margin: 100px 0 0 0;
    font-size: 20px;
}

h1 {
    color: red;
}



h2 {
    font-size: 1.1em;
    text-transform: uppercase;
}

img {
    margin: 20px 0 0 0;
}





@media(min-width:450px) {
    h1 {
        color: red;
    }
}

@media(min-width:450px) {
    h1 {
        color: blue;
    }
}


