/* 
font-family: 'Open Sans', sans-serif;

Light 300
Light 300 italic
Regular 400
Regular 400 italic
Medium 500
Medium 500 italic
Semi-bold 600
Semi-bold 600 italic
Bold 700
Bold 700 italic
Extra-bold 800
Extra-bold 800 italic

font-family: 'Playfair Display', serif;

Regular 400
Regular 400 italic
Medium 500
Medium 500 italic
*/

body {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}


h1,
h2,
h3,
h4 {
    font-family: 'Playfair Display', serif;

}